#
# Configuration for GitHub-based CI, based on the stock GitHub Rust config.
#
name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
    # actions/checkout@v2
    - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08
    - uses: actions-rs/toolchain@88dc2356392166efad76775c878094f4e83ff746
      with:
        toolchain: stable
        default: false
        components: rustfmt
    - name: Check style
      run: cargo fmt -- --check

  check-without-cockroach:
    runs-on: ubuntu-latest
    steps:
    # actions/checkout@v2
    - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08
    - name: Cargo check
      run: cargo check --no-default-features

  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-12 ]
    steps:
    # actions/checkout@v2
    - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08
    - name: Build
      run: cargo build --tests --verbose
    - name: Run tests
      run: cargo test --verbose
